* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 0 auto;
}
section main {
    padding: 1rem;
    width: 66.67%;
}
section aside {
    padding: 1rem;
    width: 33.33%;
}
.main-container{
    padding: 1rem;
    & h1{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(56, 14, 208);
        text-shadow: .8px 1px red;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 1rem;
    }
    & ul {
        padding: 0;
        perspective: 100px;
    }
    & li{
        color: rgb(56, 14, 208);
        list-style: none;
        background: rgb(253,248,243);
        height: 0;
        margin: .5rem 0;
        padding: 1rem .5rem;
        overflow: hidden;
        opacity: 0;
        transform: rotateX(-90deg);
        transition: all .5s cubic-bezier(.36,-0.64,.34,1.76);
        font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
        box-shadow: inset 0px 0px 3px;
    }
    & li.show{
        height: auto;
        margin: .5rem 0;
    }
    & li.fade{
        opacity: 1;
    }
    & li.swing{
        transform: none;
        transition: all .5s cubic-bezier(.36,-0.64,.34,1.76);
    }
    & li h3, li p {
        margin: 0;
    }
}

.aside-container{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    & .profile-box {
        margin-top: 3rem;
        background: rgba(93, 94, 185, 0.07);
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 .5rem .15rem rgba(89, 35, 217, 0.3);
        backdrop-filter: blur(.75rem);
        -webkit-backdrop-filter: blur(.75rem);
        border: 1px solid rgba(92, 50, 145, .67);
        & .img {
            text-align: center;
            & img {
                box-shadow: -2px -2px rgb(196, 1, 1);
            }
        }
        & .details .group div {
            margin: 1rem 0;
            & h4 {
                display: inline;
            }
            & p, h4 {
                margin: 0;
            }
        }
    }
    & .link-box {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & a {
            background: rgba(93, 94, 185, 0.9);
            color: white;
            padding: .6rem 1.4rem;
            border-radius: .5rem;
            box-shadow: 0 0 .25rem .08rem rgba(89, 35, 217, 0.3);
            backdrop-filter: blur(.75rem);
            -webkit-backdrop-filter: blur(.75rem);
            border: 1px solid rgba(92, 50, 145, .67);
            text-align: center;
            text-decoration: none;
            transition: all .3s;
        }
        & a:hover {
            background: rgba(93, 94, 185, 0.17);
            color: rgb(236, 73, 73);
        }
    } 
}
.alternate-container{
    display: block;
    padding: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    & .link-box {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & a {
            background: rgba(93, 94, 185, 0.9);
            color: white;
            padding: .6rem 1.4rem;
            border-radius: .5rem;
            box-shadow: 0 0 .25rem .08rem rgba(89, 35, 217, 0.3);
            backdrop-filter: blur(.75rem);
            -webkit-backdrop-filter: blur(.75rem);
            border: 1px solid rgba(92, 50, 145, .67);
            text-align: center;
            text-decoration: none;
            transition: all .3s;
        }
        & a:hover {
            background: rgba(93, 94, 185, 0.17);
            color: rgb(236, 73, 73);
        }
    } 
}

@media (max-width: 991px){
    section {
        flex-direction: column-reverse;
    }
    section main, section aside {
        width: 100%;
    }
    .aside-container .profile-box .details {
        display: flex;
        justify-content: space-between;
    }
    .aside-container .link-box, .alternate-container .link-box {
        flex-direction: row;
        justify-content: space-between;
    }
    .main-container {
        padding: 0;
    }
    .main-container h1{
        text-align: center;
    }
}
@media (max-width: 678px){
    .aside-container {
        & .profile-box {
            & .details .group div {
                & h4 {
                    display: block;
                }
            }
        }
    }  
    .aside-container .link-box a, .alternate-container .link-box a{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 480px){
    .aside-container .link-box, .alternate-container .link-box {
        flex-direction: column;
        & a{
            display: inline;
        }
    }
    .aside-container .profile-box .details {
        display: block;
    }
    .aside-container {
        & .profile-box {
            & .details .group div {
                & h4 {
                    display: inline;
                }
            }
        }
    }  
}
